.board-menu-popup {
    height: 100%;
    ul {
        padding-inline-start: 0;
    }

    >* {
        padding: 14px 0;
        margin: 0px 12px;
    }

    header {
        border-bottom: 1px solid rgb(223, 222, 222);
        display: flex;
        align-items: center;
        justify-content: center;

        .icon.x {
            float: unset;
            position: absolute;
            right: 8px;
            width: 12px;
            height: 12px;
        }

        .icon.back {
            position: absolute;
            left: 8px;
        }
    }

    main {
        border-bottom: 1px solid rgb(223, 222, 222);
        max-height: calc(100% - 60px);
        overflow-y: auto;
    }

    li {
        cursor: pointer;
    }

    .headline {
        text-align: center;
        color: $clr5;
        font-size: 1rem;
        margin: 0 auto;
    }

    .thumbnail,
    .icon {
        color: $clr5;
        width: 20px;
        height: 20px;
        background-size: cover;
        border-radius: 3px;
        text-align: center;
        margin: auto;

    }

    .thumbnail,
    .dashboard.icon {
        margin-top: 8px;
    }

    button,
    h3 {
        font-weight: bold;
        padding: 0;
        flex-direction: row;
        margin: 0;
        text-align: start;
        color: $clr5;

    }

    button {
        font-size: 0.87rem;

    }

    .activity-list li {
        // margin-top: 13px;
        // // padding-left:12px;
        grid-template-rows: 70px;
        ;
        align-items: flex-start;
    }

    .activity-list p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .activity-list span {
        font-weight: bold;
    }

}

.board-menu {
    width: 340px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    // height: 100%;
    right: -600px;
    position: fixed;
    top: 42px;
    bottom: 0;
    transition: 0.2s ease-in-out;
    z-index: 10;
    
    .board-menu-options{
        border-bottom: 1px solid rgb(223, 222, 222);
        padding-bottom:12px;
        margin-bottom:12px;
    }

    &.show-menu {
        right: 0;
    }
}

.choose-style-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;

    .board-menu-img {
        width: 153px;
        height: 96px;
        border-radius: 5px;
        background-size: cover;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
            opacity: 0.85;
        }
    }
}