.board-container{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    .board-bg{
        position: fixed;
        height: 100vh;
        width:100vw;
        top:0;
        background-size: cover;
    }
    .main{
        z-index: 2;
        display: flex;
        overflow-y:hidden;
        overflow-x: auto;
        display: flex;
        flex-grow: 1;
        padding: 0px 4px 5px;
        margin-block-end:5px;
        .group{
            margin-inline:4px;
            //z-index: 1;
        }
        .group-addition{
            font-size:1rem;
        }
    }
    .ghost{
        opacity: 0.6;
        background: $clr5;
        color:$clr5;
        &>*{
            .preview-label{
                background: $clr5!important;
                color: $clr5!important;
            }
            img{
                visibility:hidden;
            }
            .member-preview{
                background: $clr5!important;
                color:$clr5!important;
                border:$clr5 !important;
            }
            background: $clr5;
            .task-title{
                color:$clr5;
            }
        }
        .task-cover-img-preview,.task-cover-preview{
            visibility: hidden!important;
        }
        .task-duedate-preview{
            background:$clr5;
            color:$clr5;
        }
    }
    .dragging{
        opacity: 0.1;
        background: aquamarine;
    }
    .tilted{
        transform: rotate(25deg) ;
    }
    
} 