.editable-title-wrapper{
    border-radius: 3px;
    height:1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    &.focus{
        background: darken(#ebecf0,5);
    }
    width: 100%;
    .editable-title{
        outline: none;
        padding:0;
        margin:0;
        position:relative;
        width:100%;
    }
}