.main-header {
    z-index: 10;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    background: $clr5;
    // margin:auto;

    .logo {
        height: 28px;
        opacity: .65;
        object-fit: contain;
        margin: auto;
        transform: scale(0.9);
    }
    .member-preview,

    // &:last-child{
    //     margin-block-start: 5px;
    // }

    &.img-bg {
        background: rgba(0, 0, 0, 0.075);
    }


    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;

        >* {
            min-height: 30px;
        }

        .boards {
            padding-inline: 10px;
        }

        .icon.x,
        .icon.board,
        .icon.search {
            display: inline;
            margin-inline-end: 6px;
        }

        .icon.x {
            color: $clr5;
            cursor: pointer;
        }


        .search-container {
            width: 185px;
            transition: width 0.2s ease-in-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0 5px;

            input {
                height: 100%;
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;

                margin: 0 5px;
                color: $clr1;
                font-size: 1rem;
                min-width: 100px;

                &::placeholder {
                    color: $clr1;
                }
            }
        }

        .nav-link,
        .search-container {
            // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            height: 100%;
            display: flex;
            font-weight: bold;
            text-decoration: none;
            color: $clr1;
            background-color: rgba(235, 235, 235, 0.3);
            border-radius: 3px;
            font-size: 14px;
            border: none;
            margin-inline-end: 4px;
        }

        .nav-link {
            //padding:5px;
            justify-content: center;
            align-items: center;
        }

        .nav-link.icon {
            min-width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        // a:not(:first-child) {
        //     margin-inline: 4px;
        // }

        .search-container:hover,
        .nav-link:hover {
            background-color: rgba(235, 235, 235, 0.5);
        }

        .nav-link:active {
            background: transparentize($clr1, 0.85);
            color: darken($clr1, 12);
        }

        .search-container.active {
            width: 280px;
            background-color: $clr1;

            input {
                color: #4c5158;

                &::placeholder {
                    color: rgb(104, 104, 104);
                }
            }
        }
    }



    @include for-normal-layout {
        flex-flow: row;
        justify-content: space-between;
        padding: 4px 4px;
        .member-preview,
        .logo {
            transform: scale(1);
        }
        .logo {
            position: absolute;
            left: 50%;
            top: 5px;
            transform: translate(-50%);        
        }

        nav {
            height: 100%;
        }
    }
}