.board-header-members {
    position: relative;

    .user-list {
        border-radius: 5px;
        background: lighten($clr5, 48);
        position: absolute;
        top: 45px;
        right: 0;
        z-index: 3;
        overflow-y: auto;
        max-height: 50vh;

        li {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            padding: 8px;
            cursor: pointer;

            &:hover {
                background: darken($offwhite, 23);
            }
        }
    }
}
.member-list-container{
    display:flex;
}
.member-list {
    width: fit-content;

    >*:not(:last-child) {
        margin-inline-end: 3px;
    }

    .white-btn {
        margin-inline-start: 8px;
    }

    .popup-member {
        z-index: 3 !important;
    }

    .icon.plus {
        background-color: rgb(230, 230, 230);
        color: rgb(75, 74, 74);
        cursor: pointer;

        &:hover {
            background-color: rgb(200, 200, 200);
        }
    }
}

.member-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;

    // box-shadow:-1px 1px #0000004b;
    &:hover {
        filter: brightness(110%)
    }

    a {
        margin: 0 auto;
        height: fit-content;
    }

    $memberColors:("clr2":$clr2,
        "clr3":$clr3,
        "clr4":$clr4,
        "clr5":$clr5,
        "clr6":$clr6,
        "clr7":$clr7,
        "clr8":$clr8,
        "clr9":$clr9,
    );

    @each $memberColor,
    $i in $memberColors {
        &.#{$memberColor} {
            background-color: $i;
            color: $clr1;
            border: 1px solid rgba(223, 223, 223, 0.315);
            // color: set-color($i, 60);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 600;
            font-size: 0.87rem;
        }
    }
}

.board-header-members .member-list {
    >*:not(:last-child) {
        margin-inline-end: -3px;
    }
}
