.popup-label {
    position: absolute;

    .search-label {
        margin-bottom: 20px;
    }

    .label-list {
        margin-bottom: 20px;
    }

    .label-preview {
        height: 30px;
        margin-bottom: 5px;


        .label-color {
            width: 100%;
            height: 100%;
        }

        .icon.v {
            float: right;
        }

        .btn.label {
            background-color: transparent;
            color: $clr1;
            width: 100%;
            height: 100%;
            margin: 0;
            border-radius: 3px;
            margin-inline-end: 3px;
        }

        .btn.label:hover {
            filter: brightness(90%);
        }

        .btn.edit-label {
            background-color: transparent;
            width: 30px;
            border-radius: 50%;
        }

        .btn.edit-label:hover {
            // background-color:green;
            filter: none;
            background-color: rgb(245, 245, 245);

        }

        // content: "✔";
    }
}

.label-edit {
    position: absolute;
    left: 0;

    .label-edit-header {
        display: flex;
        justify-content: space-between;
    }

    .label-color-list {

        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 35px;
        gap: 5px;

        margin-bottom: 10px;

        .btn.color {
            display: block;
            margin: auto;
            width: 100%;
            height: 100%;
            border-radius: 5px;

        }

        .color-in-use::after {
            content: "✔";
            color: $clr1;
        }
    }

    .btn-container {
        display: flex;
        justify-content: space-between;

        .btn {
            margin: 0
        }
    }
}