.popup-cover {
  .upload-cover-btn {
    // font-size: 22px;
    position: relative;
    // margin-top: 30px;
  }

  .cover-upload-input {
    cursor: pointer;
    // visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .remover-cover{
    z-index: 1000;
  }

}
