.task-checklist {
  margin-bottom: 30px;
  .todos {
    margin-bottom: 8px;
    color: #172b4dc7;
  }
  .checklist-header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // margin-bottom: 10px;
    // margin-left:0;
    // .main-checklist-header {
    //   display: flex;
    //   width: 100%;
    //   // justify-content: space-between;
    // }

    // .checklist-icon {
    //   margin-right: 7px;
    // }

    // h4 {
    //   margin: 0 auto;
    //   cursor: pointer;
    //   width: 100%;
    // }
  }

  .todo-container {
    cursor: pointer;

    .delete-todo{
      float: right;
      // display: none;
      visibility: hidden;
    }

    // display: flex;
    padding: 6px 10px 6px 0;
    // align-items: center;
    input {
      cursor: pointer;
      // margin-right: 10px;
      // margin-left:0;
      width: 0.9rem;
      height: 0.9rem;
    }

    form {
      width: 100%;
    }

    textarea {
      width: 100%;
      font-size: 0.9rem;
    }

    label {
      cursor: pointer;
      // font-size: 0.9rem;
      // width: 100%;
      // padding: 3px;
    }

    // .editable-todo-title  {
    // width: 100%;

    // width: 200px;
    // }

    .editable-todo,
    // .editable-todo-add,
    .editable-todo p,
    .editable-todo-title p,
    .editable-todo-add p {
      font-size: 0.9rem;
      // font-size: 18px;
      // display: flex;
      // align-items: center;
      margin-bottom: 0;
      // width: 100%;
      // padding: 10px;
    }
  }

  .todo-container:hover {
    background-color: #eaecf0;
    
    .delete-todo{
      float: right;
      visibility: visible;
      // display: block;
    }
  }

  .btn {
    background-color: #eaecf0;
    padding: 8px 10px;

    &:hover {
      background-color: #e4e4e3;
    }
  }

  .editable-text {
    width: 100%;
    form {
      // width: 100%;
      .save-btn:hover {
        background-color: #e4e4e3;
      }
    }
  }

  label:hover,
  .editable-text p:hover {
    background-color: #eaecf0;
  }
}

.progress-bar-container {
  p {
    font-size: 0.8rem;
  }
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // margin-left:-1px;
  .progress-bar {
    &::-webkit-progress-value {
      transition: width 1s;
    }
    // width: 85%;
  }

  .meter {
    height: 7px;
    border-radius: 12px;
    position: relative;
    background: $clr1;
    overflow: hidden;
    width: 100%;
  }

  .meter span {
    display: block;
    height: 100%;
    transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .progress {
    background-color: $clr7;
    animation: progressBar 0.75s ease-in-out;
    animation-fill-mode: both;
  }

  @keyframes progressBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
