.task-cover-color {
  width: 100%;
  min-height: 116px;
  border-radius: 3px 3px 0px 0px;
}

.task-cover-img {
  border-radius: 3px 3px 0px 0px;
  height: 160px;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: $clr5;
}
