.about{
    margin-block: 20px;
    .bio{
        margin:0 auto;
        width:300px;
        position:relative;
        display: flex;
        align-items: center;
        flex-flow: column;
        img{
            height:240px;
            width:240px;
            border-radius: 50%;
            object-fit: cover;
            position:relative;
            box-shadow: $subtle-shadow;
        }
        h1{//Name
        font-family:'Pacifico', cursive ;
        font-size: rem(48px);
        font-weight: normal;
        color:lighten($clr5,23);
        text-shadow: $subtle-shadow;
        margin-block-end: 0;
        line-height:1.2;
        word-spacing:100vw;
        width:fit-content;
        }
    
        .info{
        position:relative;
        width:300px;
        top:-20px;
            .body{// ALl info other than name and img
            display:flex;
            .description{
                margin-inline-start: 10px;
                padding-inline-start: 10px;
                border-left: 2px solid $clr5;
                color:$clr5;
                small{
                    font-size:rem(12px);
                    font-style: italic;
                    align-self: flex-end;
                }
            }
            //SOCIAL
                .social{
                    display: flex;
                    flex-grow: 1;
                    justify-content: flex-end;
                    margin-inline-end:5px;
                    text-decoration: none;
                    margin:0;
                    padding:0;
                    .social-icon{
                        border-radius: 10px;
                        font-family:'fa-brands';
                        font-size:36px;
                        align-self: flex-start;
                        padding:3px;
                        margin:3px;
                        transition: filter .25s ease-out;
                        box-shadow: $subtle-shadow;
                        &:hover{
                            filter:brightness(2) contrast(0.75) opacity(0.8);
                            transition: filter .25s ease-in;
                        }
                    }
                }
            }
        }
    }
}