// @font-face {
//     src: url('../../assets/fonts/Quicksand-Regular.ttf');
//     font-family: 'quicksand';
// }
// @font-face{
//     src: url('../fonts/ShipporiMincho-Regular.ttf');
//     font-family: 'quicksand-Regular';
// }
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face{
    src: url('~@/scss/fonts/RobotoSlab-Regular.ttf');
    font-family: 'robotoSlab';
}
 @font-face{
     src: url('~@/scss/fonts/Pacifico-Regular.ttf');
     font-family: 'Pacifico';
 }
@font-face{
    font-family: 'fa-brands';
    src: url('~@/scss/fonts/fa-brands-400.ttf') ;
}
@font-face{
    src: url('~@/scss/fonts/fa-regular-400.ttf');
    font-family: 'fa-reg';
}
@font-face{
    src: url('~@/scss/fonts/fa-solid-900.ttf');
    font-family: 'fa-solid';
}
