// Colors
$clr-base: #172b4d;

$clr1: #fff;
$clr2: #9eb1f7;
// $clr2: #ADBFFD;
$clr3: #a98eda;
$clr4: #eb7386;
$clr5: #3c4b68;
$clr6: #6fdcf0;
// $clr6: #84edff;
$clr7: #71d165;
$clr8: #3ff8d6;
$clr9: #f2c643;

$clr10: #ffb342;
$clr11: #fcf050;
$clr12: #a4fd8e;

$offwhite:#ebecf0;

$clr-ok-btns: #71d165;
$clr-alarm-btns: #eb7386;

$subtle-shadow: 0px 2px 0px #0000002e;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 710px;
$normal-breakpoint: 960px;
